################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/就職作品/Debug/
/就職作品/.vs/
/就職作品/Map/SnowGroundBig.png